html,body{
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: #7fb0a6;
}
h1{
  font-family: Ralleway;
  font-size: 5vw;
  color: aliceblue;
}
h2{
  position: absolute;
  font-family: Ralleway;
  font-size: 2vw;
  color: aliceblue;
  left: 5px;
  font-style: italic;
}
h2:hover{
  cursor: pointer;
}
#root{
  height: 100%;
}
#main-container{
  height: 100vh;
}
#sections-container{
  height: 100%;
}
#wrap-popup{
  position: fixed;
  left: 40%;
  opacity: 1;
  transform: scale(1);
}
#counter{
  position: absolute;
}
#mousse{
  text-align: center;
  width: 100%;
  position: absolute;
  bottom: 0px;
}
#page{
  position: absolute;
  top: 5px;
  right: 5px;
}
@keyframes mousse-roll{
  from{bottom: 6px}
  to{bottom: 0px}
}
.rolling{
  animation: mousse-roll 700ms ease-in infinite;
}
.bluerry{
  background-color: rgb(41, 38, 38) !important;
}
.mask{
  background: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  position: absolute;
  transition: opacity 0.3s;
  z-index: +5; 
}
.fade-enter {
  opacity: 0;
}
.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms;
}
.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0;
  transition: opacity 500ms;
}


